@font-face {
  font-family: 'Kodchasan';
  src: url("../fonts/KodchasanBold.woff2") format("woff2"),
    url("../fonts/KodchasanBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kodchasan';
  src: url("../fonts/KodchasanSemiBold.woff2") format("woff2"),
    url("../fonts/KodchasanSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kodchasan';
  src: url("../fonts/KodchasanMedium.woff2") format("woff2"),
    url("../fonts/KodchasanMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kodchasan';
  src: url("../fonts/KodchasanRegular.woff2") format("woff2"),
    url("../fonts/KodchasanRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kodchasan';
  src: url("../fonts/KodchasanBold.woff2") format("woff2"),
    url("../fonts/KodchasanBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

