*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  font-family: $ff-Kodchasan;
  font-size: $main-fsz;
  font-weight: 500;
  color: $main-text-color;
  background-color: $bg-page-color;

  overflow-wrap: anywhere;
  &:has(.main-nav--open) {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
  padding-top: 100px;

  @include vp-1023 {
    padding-top: 60px;
  }
}

section {
  margin: $margin-section;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

a {
  color: $main-text-color;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
