.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(.625rem, .4928rem + .6612vw, 1.125rem) clamp(.625rem, -.0362rem + 3.3058vw, 3.125rem);
  border: 2px solid currentColor;
  border-radius: 5px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  color: $main-text-color;
  text-transform: capitalize;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
