.footer {
  padding: 45px 0;
  background-image: linear-gradient(56.85deg, #ff9d2d 1.663%,#ffd877 93.206%);

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 50px;
  }

  &__logo {
    border-radius: 3px;
    color: $logo-f-color;
    outline: 2px solid transparent;
    outline-offset: 5px;
    transition: outline-color $transition-300;

    @include focus-visible {
      outline: 2px solid $color-black;
    }
    @include any-hover {
      outline: 2px solid $color-black;
    }
  }

  &__desc {
    max-width: 270px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
  }
}
