.header {
  padding: 30px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 30px;
  }

  &__logo {
    border-radius: 3px;
    color: $logo-h-color;
    outline: 2px solid transparent;
    outline-offset: 5px;
    transition: outline-color $transition-300;

    @include focus-visible {
      outline: 2px solid $accent-color;
    }
    @include any-hover {
      outline: 2px solid $accent-color;
    }
  }
}
