.hero {
  &__wrap {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    border-radius: 30px;
    background-color: #ffd877;
    background-image: url("../img/hero/honey-hero-bees.png"), url("../img/hero/honey-hero.svg"), linear-gradient(56.85deg, #ff9d2d 1.663%,#ffd877 93.206%);
    background-image: image-set(
    url("../img/hero/honey-hero-bees.webp") type("image/webp"),
    url("../img/hero/honey-hero-bees.png") type("image/png")),
    url("../img/hero/honey-hero.svg"),
    linear-gradient(56.85deg, #ff9d2d 1.663%,#ffd877 93.206%);
    background-repeat: no-repeat;
    background-position: top clamp(1.25rem, -5.2841rem + 13.6304vw, 7.75rem) right 10px, top clamp(2.5rem, -.6414rem + 6.5531vw, 5.625rem) right 13px, 0 0;
    background-size: clamp(12.5rem, 4.4174rem + 40.4132vw, 43.0625rem) auto, 94% auto, auto;

    @include bg-img-2x {
      background-image: url("../img/hero/honey-hero-bees@2x.png"), url("../img/hero/honey-hero.svg"), linear-gradient(56.85deg, #ff9d2d 1.663%,#ffd877 93.206%);
      background-image: image-set(
      url("../img/hero/honey-hero-bees@2x.webp") type("image/webp"),
      url("../img/hero/honey-hero-bees@2x.png") type("image/png")),
      url("../img/hero/honey-hero.svg"),
      linear-gradient(56.85deg, #ff9d2d 1.663%,#ffd877 93.206%);
    }
    @include vp-767 {
      min-height: 55vh;
      margin: 0 -13px;
      border-radius: 10px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: clamp(1.25rem, -1.4277rem + 13.3884vw, 11.375rem)
    clamp(1.25rem, -1.345rem + 12.9752vw, 11.0625rem)
    clamp(1.875rem, .0899rem + 8.9256vw, 8.625rem);
  }

  &__title {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    max-width: min(630px, 60%);
    margin: $margin-main-title;

    gap: 10px;

    & span {
      position: relative;
      z-index: 10;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: clamp(0rem, -.2479rem + 1.2397vw, .9375rem);
      left: 0;
      width: clamp(4.375rem, 2.3915rem + 9.9174vw, 11.875rem);
      height: clamp(3.125rem, 1.8027rem + 6.6116vw, 8.125rem);
      background-image: url("../img/default/bee.png");
      background-image: image-set(
      url("../img/default/bee.webp") type("image/webp"),
      url("../img/default/bee.png") type("image/png"));
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include bg-img-2x {
        background-image: image-set(
        url("../img/default/bee@2x.webp") type("image/webp"),
        url("../img/default/bee@2x.png") type("image/png"));
      }
    }

    & span:first-child {
      align-self: flex-start;
    }

    & span:last-child {
      position: relative;
      align-self: flex-end;

      &::before {
        content: "";
        position: absolute;
        bottom: 18%;
        left: -100%;
        width: 95%;
        height: 2px;
        opacity: .5;
        background-color: $color-black;
      }
    }
  }

  &__btns {
    display: flex;
    margin-top: auto;

    gap: 15px 30px;
    @include vp-1023 {
      gap: 15px;
      @include landscape {
        transform: translateY(80%);
      }
    }
    @include vp-767 {
      justify-content: space-between;
    }
  }

  &__btn {
    position: relative;
    overflow: hidden;
    border-color: $color-black;
    color: $color-white;
    transition: border-radius $transition-300 .3s, border-color $transition-500 .3s, background-color $transition-300;

    @include focus-visible {
      & {
        border-color: $color-white;
        border-radius: 10px;
        background-color: transparent;
      }

      &::before {
        clip-path: circle(0% at 50% 50%);
      }
    }
    @include any-hover {
      & {
        border-color: $color-white;
        border-radius: 10px;
        background-color: transparent;
      }

      &::before {
        clip-path: circle(0% at 50% 50%);
      }
    }

    & span {
      position: relative;
      color: inherit;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      transition: clip-path $transition-800;

      clip-path: circle(80% at 50% 50%);
    }
  }

  &__link {
    border-color: $color-black;
    transition: color $transition-300, border-radius $transition-300 .3s, border-color $transition-500;

    @include focus-visible {
      & {
        border-color: $color-white;
        border-radius: 10px;
        color: $color-white;
      }
    }
    @include any-hover {
      & {
        border-color: $color-white;
        border-radius: 10px;
        color: $color-white;
      }
    }
    @include vp-767 {
      @include portrait {
        transform: translateY(-50%);
      }
    }

    & span {
      color: inherit;
    }
  }
}
