.main-nav {
  z-index: 11;
  display: flex;
  flex-direction: column;

  $root: &;
  @include vp-767 {
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    overflow: hidden;
    overflow-y: auto;
    width: 85%;
    height: 100%;
    opacity: 0;
    background-color: $color-white;
    transition: opacity $transition-300 .3s, visibility $transition-300 .3s, transform $transition-300 .3s, box-shadow $transition-300, border-radius $transition-300;
    transform: translateX(100%);
    pointer-events: none;

    &--open {
      visibility: visible;
      border-top-left-radius: clamp(.9375rem, -1.9708rem + 14.5414vw, 5rem);
      border-bottom-left-radius: clamp(.9375rem, -1.9708rem + 14.5414vw, 5rem);
      opacity: 1;
      box-shadow: 0 0 0 500px rgba($color-black, .8);
      transition: opacity $transition-300, visibility $transition-300, transform $transition-300, box-shadow $transition-300 .3s, border-radius $transition-300 .3s;
      transform: translateX(0);
      pointer-events: all;

      & #{$root}__list {
        opacity: 1;
        transition: transform $transition-500 .3s, opacity $transition-300 .3s;
        transform: translateX(0);
      }
    }
  }

  &__list {
    display: flex;
    overflow-x: auto;
    align-items: center;
    margin: -#{$container-offsets};
    padding: $container-offsets;

    gap: 15px 40px;
    @include vp-767 {
      overflow-x: initial;
      align-items: flex-start;
      flex-direction: column;
      flex-grow: 1;
      margin: 0;
      padding: 50px;
      opacity: 0;
      transition: transform $transition-500, opacity $transition-500;
      transform: translateX(-20%);
    }
  }

  &__item {
    display: flex;
    flex-shrink: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    margin: -3px;
    padding: 3px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    color: $main-text-color;
    text-transform: capitalize;
    outline: 2px solid transparent;
    transition: outline-color $transition-300;

    @include focus-visible {
      outline: 2px solid $accent-color;
    }
    @include any-hover {
      outline: 2px solid $accent-color;
    }
    @include vp-767 {
      font-size: clamp(1.5rem, .7841rem + 3.5794vw, 2.5rem);
    }

    &--active {
      font-weight: 700;
    }
  }
}
